@media (min-width: 1400px) {
}

@media screen and (max-width: 1400px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 303px) !important;
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .top-header ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 5rem;
    background-color: #353535;
    border-radius: 10px;
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    gap: 25px;
    z-index: 1000;
  }
  ul.show_menu {
    height: 270px;
    visibility: visible;
  }
  .toggle_menu-open {
    display: block;
    color: #999999;
    font-size: 30px;
    cursor: pointer;
  }
  .search {
    flex-wrap: wrap;
  }
  .search .content {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .content,
  .order {
    order: 1;
    width: 50%;
  }
  .order {
    max-width: 140px;
    height: 60px;
  }
  .order .icon-order img {
    width: 45px;
    height: 45px;
  }

  .form-box {
    order: 2;
    width: 100%;
  }
  .form .icon {
    font-size: 20px;
    color: #999999;
  }
  .form input {
    padding: 20px 40px;
    border: 1px solid #999999;
    border-radius: 10px;
  }
  .order {
    position: absolute;
    left: 15px;
    margin-top: -83px;
  }
  .logo svg {
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 460px) {
}

@media screen and (max-width: 410px) {
}

@media screen and (max-width: 350px) {
}
