@media (min-width: 1400px) {
}
@media screen and (max-width: 1640px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 303px);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
  }
}

@media screen and (max-width: 1400px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 303px) !important;
    grid-template-rows: repeat(2, auto);
  }
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
  .toggle-menu_product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9933b;
    width: 183px;
    height: 56px;
    border-radius: 20px;
    cursor: pointer;
  }
  .toggle-menu_product h2 {
    width: 67px;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  .toggle-menu_product .icons {
    color: #fff;
  }
  .border-b {
    border: none;
  }
  .menuProduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f0f8ff;
    position: absolute;
    height: 100vh;
    width: 200px;
    right: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    border-bottom-left-radius: 10rem;
    gap: 40px;
    z-index: 1000;
  }
  .menuProduct.show_menu-product {
    width: 200px;
    visibility: visible;
  }
  .close_toggle-menu {
    display: block;
    color: #353535;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
  }
  .header-content {
    flex-direction: column;
  }
  .slider img {
    width: 100%;
  }
  .pack-header {
    width: 100%;
  }
  .scroll-item .item {
    width: 350px;
  }
  .img_icon-pack img {
    width: 100%;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 303px) !important;
    grid-template-rows: repeat(2, auto);
  }
  .aboutUs .about{
    flex-direction: column;
  }
  .aboutUs .about .img-about img{
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .top-header ul {
    position: fixed;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    background-color: #353535;
    margin: 0 15px;
    text-align: center;
    padding: 10px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    gap: 30px;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
  }
  .top-header ul li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .top-header ul li a {
    font-size: 25px;
  }
  ul.show_menu {
    height: 100vh;
    visibility: visible;
  }
  .toggle_menu-open {
    display: block;
    color: #999999;
    font-size: 30px;
    cursor: pointer;
  }
  .toggle_menu-close {
    display: flex;
    color: #999999;
    font-size: 40px;
    cursor: pointer;
    width: 100%;
    justify-content: start;
    padding: 25px;
  }
  .search {
    flex-wrap: wrap;
  }
  .search .content {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .content,
  .order {
    order: 1;
    width: 50%;
  }
  .order {
    max-width: 140px;
    height: 60px;
  }
  .order .icon-order img {
    width: 45px;
    height: 45px;
  }

  .form-box {
    order: 2;
    width: 100%;
  }
  .form .icon {
    font-size: 20px;
    color: #999999;
  }
  .form input {
    padding: 20px 40px;
    border: 1px solid #999999;
    border-radius: 10px;
  }
  .order {
    position: absolute;
    left: 15px;
    margin-top: -83px;
  }
  .logo svg {
    width: 150px;
    margin-top: -15px;
  }
  .product-menu .product-navbar {
    flex-direction: column;
    align-items: start;
  }
  .product-menu .product-navbar .user {
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
  }
  .scroll-item .item {
    width: 150px;
  }

  .scroll-item .item {
    width: 160px;
  }
  .swiper-slide .items {
    width: 100%;
  }
  .swiper-slide .items {
    font-size: 9px;
    font-weight: bold;
    height: 53px;
    margin: 5px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding-top: 15px;
  }
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 303px) !important;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
  }
  .products-container .product-card {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 460px) {
}

@media screen and (max-width: 410px) {
}

@media screen and (max-width: 350px) {
}
