@font-face {
  font-family: "yekan";
  src: url("../fonts/Yekan.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth !important;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
li {
  list-style: none;
}
body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: "yekan";
}

/* start style main page */
.main-page {
  max-width: 1280px;
  width: 95vw;
  margin: 0 auto;
  overflow: hidden;
}
/* end style main page */
/* start style top header */
.top-header {
  width: 100%;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle_menu-open {
  display: none;
}

.top-header ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.top-header ul li a.active {
  color: #f9933b;
  font-weight: 600;
}
.top-header ul li a {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
.top-header ul li a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.top-header ul li a::before,
.top-header ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.top-header ul li a::before {
  background-color: #f9933b;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.top-header ul li a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #f9933b;
}
.top-header ul li a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.top-header ul li a:hover::after {
  transform: translate3d(0, 0, 0);
}

.support {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 25px;
}
.support .phone-support img {
  width: 20px;
  height: 20px;
}
.support .phone {
  display: flex;
  flex-direction: column;
  direction: ltr;
}
.support .phone span {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  direction: ltr;
  display: inline-block;
}
.support .phone span.text-color {
  color: #f9933b;
}
.support .phone h4 {
  font-style: 14px;
  font-weight: 400;
  color: #999999;
}
.search {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.search .content {
  flex: 1 1 15%;
  display: flex;
  gap: 20px;
}
.form-box {
  flex: 1 1 60%;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
}
.form .icon {
  position: absolute;
  color: #999999;
  font-size: 24px;
  margin-right: 10px;
}
.form input {
  width: 469px;
  padding: 20px 50px;
  border-radius: 20px;
  background-color: #fafafa;
  font-family: "yekan";
  font-size: 14px;
  font-weight: 300;
  word-spacing: 1px;
  outline: none;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.order {
  background: linear-gradient(266.55deg, #ff7512 -7.24%, #ffa200 116.03%);
  max-width: 151px;
  height: 66px;
  display: flex;
  flex-direction: row-reverse;
  flex: 1 1 25%;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.order .icon-order img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-top: 7px;
}
.order .title-order h2 {
  width: 57px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
/* end style top header */
